.b-opening-hours {
    &.is-closed {
        border: 1px dashed #fff;
        padding: 10px;

        .open {
            display: none;
        }

        .closed {
            display: block;
        }
    }

    .closed {
        display: none;

        span {
            font-weight: 900;
            text-transform: uppercase;
        }
    }

    .telephone {
        margin: 0 5px;
        font-weight: 900;
        text-decoration: none;
    }
}
