<div class="jsb_ jsb_OpeningHours b-opening-hours">
    <span class="open">
        <p>Wir haben heute bis <span class="open-till">22:00</span> Uhr für Sie geöffnet und nehmen unter <a class="telephone" title="+493027498441" href="tel:+493027498441">030 - 27 49 84 41</a> Bestellungen entgegen.</p>
    </span>
    <span class="closed">
        <p><span>Hinweis:</span> Sie besuchen uns außerhalb unserer <a href="/#opening-hours" title="Öffnungszeiten">Öffnungszeiten</a>.</p>
    </span>
</div>
