<div class="jsb_ jsb_OpeningHours b-opening-hours">
    <span class="open">
        <p>Wir haben heute bis <span class="open-till">21:00</span> Uhr für Sie geöffnet und nehmen Bestellungen an.</p>
    </span>
    <span class="closed">
        <p><span>Hinweis:</span> Sie besuchen uns außerhalb unserer <a href="/#opening-hours" title="Öffnungszeiten">Öffnungszeiten</a>.</p>
    </span>
</div>
