@mixin collapsible {
  .b-collapsible {
    position: relative;

    &.is-open {
      .body {
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
      }

      .title {
        ::after {
          transform: translateY(-50%) rotate(90deg);
        }

        &:hover {
          ::after {
            @include breakpoint(medium) {
              transform: translateY(-50%) rotate(90deg) scale(1.5);
            }
          }
        }
      }
    }

    .title {
      position: relative;
      padding-left: 20px;
      cursor: pointer;

      ::after {
        content: '\25ba';
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 10px;
        transition: transform .2s;
        transform: translateY(-50%);
      }

      &:hover {
        ::after {
          @include breakpoint(medium) {
            transform: translateY(-50%) scale(1.5);
          }
        }
      }
    }

    .body {
      overflow: hidden;
      height: 0;
      transition-duration: .4s;
      transition-property: height;
      transition-timing-function: cubic-bezier(.6, -.28, .735, .045);
    }
  }
}
