<header class="b-header">
    <ul class="nav">
        <li>
            <a href="/" title="Home">Home</a>
        </li>
        <li>
            <a href="menu.html" title="Speisekarte">Speisekarte</a>
        </li>
        <li>
            <a href="imprint.html" title="Impressum">Impressum</a>
        </li>
    </ul>
</header>
