.b-menu {
    @include breakpoint(medium) {
        padding: 0 20px 0 330px;
    }

    @include breakpoint(xxlarge) {
        max-width: 1200px;
        padding: 0 20px;
    }

    margin-top: 60px;
    padding: 0 20px;

    .category-nav {
        @include breakpoint(medium) {
            overflow: auto;
            position: fixed;
            top: 40px;
            bottom: 0;
            left: 40px;
            display: block;
        }

        display: none;

        .list {
            margin: 40px 0;
            padding: 0;
            list-style: none;
            font-size: 1.17em;
            font-weight: 300;
            text-transform: uppercase;

            a {
                display: block;
                padding: 5px;
                text-decoration: none;
            }
        }
    }

    .delivery-info {
        margin-bottom: 40px;
    }

    .category {
        .title {
            margin: 0;
        }

        .list {
            border-top: 1px solid #333;
            padding: 0 0 0 20px;
            list-style: none;

            > li {
                display: flex;
                border-bottom: 1px solid #333;
                padding: 10px 0;
                flex-flow: column-reverse;
            }

            .offers {
                align-self: flex-end;
            }
        }
    }

    .category-desc,
    .item-desc {
        color: #999;
    }
}
