{% extends 'layouts::master.twig' %}

{% block body %}
<div class="b-home">
    <section class="teaser lozad" data-background-image="img/sections/image-6.jpg">
        <div class="logo-wrapper">
            <span class="logo"></span>
        </div>
        <div class="delivery">
            <h2><span>Imbiss</span> und <span>Lieferservice</span> Berlin</h2>
            <h3 class="subtitle">Täglich frische Currywurst, Pommes und Burger</h3>
            <p class="telephone"><span>030 - 27 49 84 41</span></p>
        </div>
    </section>

    <div class="sections">
        <section class="section">
            <div>
                <h2>
                    Herzlich<br>
                    <span>Willkommen</span>
                </h2>
                <p>Einfach vorbeikommen und die echte Berliner Currywurst erleben. Herzhafte Burger, frische Pommes, Bouletten und Chicken Nuggets gibt's natürlich auch. Dazu einen kühlen Drink im hippen Lokal oder auf den Sonnenplätzen im Aussenbereich. Mittags, abends oder zwischendurch genießen. Curry and Fritz - was sonst!</p>
            </div>
        </section>

        <section class="section">
            <div class="description">
                <h2>
                    Original Berliner<br>
                    <span>Currywurst</span>
                </h2>
                <p>Der Inhaber von Curry and Fritz, seit vielen Jahren bekennender Currywurstfan und Experte, hat sich seinen Traum erfüllt. Mit den besten Zutaten einer ausgewählten Berliner Fleischerei und selbsthergestellter Currysaucen zaubert er wahre Geschmackserlebnisse.</p>
                <p>Echte Berliner Currywurst mit feiner Currysauce nach Geheimrezept muss man probieren.</p>
            </div>
        </section>

        <section class="section">
            <div>
                <h2>
                    Hausgemachte<br>
                    <span>Burger</span>
                </h2>
                <p>Herzhafte Burger mit feinem Angus-Beef oder vegetarische Burger sind heissbegehrt.</p>
            </div>
        </section>

        <section class="section">
            <div>
                <h2>
                    Alkoholfreie<br>
                    <span>Getränke</span>
                </h2>
                <p>Eine große Auswahl kühler Drinks für heiße Sommertage gibt es auch zu den beliebten Menüs.</p>
            </div>
        </section>

        <section class="section">
            <iframe class="map" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJi2M8MlxSqEcR-yk-Ws7sFgM&key=AIzaSyAwSp3CHZXIYsZV37mqGF5obACnRFL0tFA" allowfullscreen></iframe>

            <div class="address">
                <div id="address">
                    <h2><span>Adresse</span></h2>
                    <p>Hermann-Hesse-Straße 12<br>
                    13156 Berlin<br>
                    Telefon: 030 / 27 49 84 41</p><br>
                </div>

                <div id="opening-hours">
                    <h2><span>Öffnungszeiten</span></h2>
                    <h4>Dienstag bis Sonntag</h4>
                    <p>11:00 - 21:00</p>
                    <h4>Montag</h4>
                    <p>Geschlossen</p>
                </div>
            </div>
        </section>
        <section>
            <h2><span>Curry</span> and <span>Fritz</span></h2>
            <p>Die besten Zutaten aus Berliner Fleischereien und die selbstgemachte Currysauce sind ein Erlebnis.</p>
        </section>
    </div>
</div>
{% endblock %}
