<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

        <title>{% block title %}Curry and Fritz{% endblock %}</title>

        <meta name="description" content="{% block description %}Der Inhaber von Curry and Fritz, seit vielen Jahren bekennender Currywurstfan und Experte, hat sich seinen Traum erfüllt. Mit den besten Zutaten einer ausgewählten Berliner Fleischerei und selbsthergestellter Currysaucen zaubert er wahre Geschmackserlebnisse.{% endblock %}" />
        <meta name="keywords" content="" />

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="generated/styles.css?cb={{ currentTimestamp }}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
        {% include 'partials::appicons.twig' %}
    </head>
    <body>

        {% include 'partials::header.twig' %}
        <main id="main" class="main">
        {% block body %}{% endblock %}
        </main>
        {% include 'partials::footer.twig' %}

        <script src="generated/main.js?cb={{ currentTimestamp }}"></script>
    </body>
</html>
