// Typography-Variables

$base-font: 'Lato', sans-serif;
$base-fontsize: 1.6rem;
$base-lineheight: 1.3em;

$headline-font: $base-font;
$blockquote-font: Georgia, "Times New Roman", Times, serif;
$monospaced-font: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
